<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body ng-app="dataStruct">
	<h1>Data Structures</h1>
	<h2>This document is meant to visualize the various data structures</h2>

	<div ng-controller="linkedListCtrl">
		<h2>Linked List</h2>
		<p>A linked list stores data in nodes, and references the next node</p>
		<div>
			<h3>Animations</h3>
			<ul>
				<li ng-repeat="node in linkArray track by $index">{{ node }} <button ng-click="delete(node)">X</button></li>
			</ul>
		</div>
		<div>
			<h3>Various Functions</h3>
			<form ng-submit="add()">
				<input type="text" ng-model="addEndNode">
				<button type="submit">Add to end</button>
			</form>

			<form ng-submit="addToFront()">
				<input type="text" ng-model="addBeginningNode">
				<button type="submit">Add to beginning</button>
			</form>
		</div>
	</div>

	<!-- bower components -->
	<script src="bower_components/angular/angular.min.js"></script>

	<!-- app components -->
	<script src="js/linkedList.js"></script>
	<script src="app.js"></script>
</body>
</html>